<%-include('partials/encabezado.html');%>

<div class="container mt-2">
    <h1 class="text-center">Listado de alumnos</h1>
    <form>
        <div class="row mb-3">
            <div class="col-2 text-center">
                <label class="form-label" for="">Matricula</label>
            </div>
            <div class="col-10">
                <input class="form-control" id="matricula" name="matricula" type="text" required>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 text-center">
                <label class="form-label" for="">Nombre</label>
            </div>
            <div class="col-10">
                <input class="form-control" name="nombre" type="text">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 text-center">
                <label class="form-label" for="">Domicilio</label>
            </div>
            <div class="col-10">
                <input class="form-control" name="domicilio" type="text">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 text-center">
                <label class="form-label" for="">Sexo</label>
            </div>
            <div class="col-10">
                <select class="form-select" name="sexo" id="">
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                    <option value="O">Otro</option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2 text-center">
                <label class="form-label" for="">Especialidad</label>
            </div>
            <div class="col-10">
                <input class="form-control" name="especialidad" type="text">
            </div>
        </div>
        <div class="row">
            <div class="col text-end">
                <button formaction="/consultarMatricula" formenctype="application/x-www-form-urlencoded" formmethod="get" class="btn btn-secondary">Buscar</button>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col text-end">
                <button formaction="/actualizar" formmethod="get" class="btn btn-warning">Actualizar</button>
                <button formaction="/borrar" formmethod="get" class="btn btn-danger">Eliminar</button>
                <button formaction="/insertar" formmethod="get" type="submit" class="btn btn-success">Agregar</button>
            </div>
            
        </div>
    </form>
    <a href="/" class="btn btn-dark">Mostrar todos</a>
    <% if(alumnos){%>
        <table class="mt-3 table table-hover table-striped">
            <thead>
                <th>Id</th>
                <th>Matricula</th>
                <th>Nombre</th>
                <th>Domicilio</th>
                <th>Sexo</th>
                <th>Especialidad</th>
            </thead>
        <% for(alumno of alumnos){%> %>
            <tbody>
                <td><%=alumno.Id%></td>
                <td><%=alumno.matricula%></td>
                <td><%=alumno.nombre%></td>
                <td><%=alumno.domicilio%></td>
                <td><%=alumno.sexo%></td>
                <td><%=alumno.especialidad%></td>
                
        <% } %>
            </tbody>
        </table>
    <% } %>
</div>

<%-include('partials/piePagina.html');%>